<!DOCTYPE html>
<html>
<head>
  <title>My Profile</title>
  <link rel="stylesheet" type="text/css" href="profile.component.css">
</head>
<body>
    <header>
    <img class="profile-pic" [src]="userAvatar ||'https://picsum.photos/200'" alt="Profile Picture">
    <h1>@{{userName}}</h1>
    <button routerLink="/settings">Change Profile</button>
    <div class="switch-btn">
      <button [class.active]="activeSection === 'created'" (click)="showSection('created')">Created Pins</button>
      <button [class.active]="activeSection === 'saved'" (click)="showSection('saved')">Saved Pins</button>
    </div>
  </header>
  <section id="created-pins" *ngIf="activeSection === 'created'">
    <h2 class="section-title">Created Pins</h2>
    <div class="card">
      <img src="https://picsum.photos/300/200" alt="Pin Image">
      <h3>Pin Title</h3>
      <p>Pin Description</p>
    </div>
    <div class="card">
      <img src="https://picsum.photos/300/200" alt="Pin Image">
      <h3>Pin Title</h3>
      <p>Pin Description</p>
    </div>
  </section>
  <section id="saved-pins" *ngIf="activeSection === 'saved'">
    <h2 class="section-title">Saved Pins</h2>
    <div class="card">
      <img src="https://picsum.photos/300/200" alt="Pin Image">
      <h3>Pin Title</h3>
      <p>Pin Description</p>
    </div>
    <div class="card">
      <img src="https://picsum.photos/300/200" alt="Pin Image">
      <h3>Pin Title</h3>
      <p>Pin Description</p>
    </div>
  </section>
</body>
</html>
