#fields {
    position: relative;
    margin: 100px auto 50px;
    width: 500px;
    height: 250px;
    text-align: center;
    background: white;
}
  
#fields:before, #fields:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: rebeccapurple;
    background-size: 400%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
    filter: blur(60px);
}